@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');


.h11 {
  border-right: solid 3px rgba(218, 248, 218, 0.75);
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Tourney', cursive;
  font-size: 41px;
  color: rgba(255, 255, 255, 0.7);
}

/* Animation */
.h11 {
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             animated-cursor 600ms steps(29,end) infinite;
             margin-left: 70px;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 325px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: rgba(80, 89, 80, 0.75);}
  to{border-right-color: transparent;}
}